{% extends 'bo/base-bo.html.twig' %}


{% block bodyClass %}fixed
{% endblock %}
{% block title %}
	{{ parent() }}
	- Utilisateur : Création
{% endblock %}
{% set menuUser = true %}
{% set menuUserCreat = true %}

{% block body %}
<header class="page-header">
        <h2>Utilisateur</h2>

        <div class="right-wrapper pull-right">
                <ol class="breadcrumbs">
                        <li>
                                <a href="{{ path('home_bo')}}">
                                        <i class="fa fa-home"></i>
                                </a>
                        </li>
                       
                        <li><span> {% if isEdit == true %} Edition {% else %} Création {% endif %}</span></li>
                </ol>

                <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>
	{{ form_start(categorieForm,{'method': 'POST', 'type':'submit', 'attr' : {'class' : 'form-horizontal form-bordered', 'id' : 'form-category' , 'enctype':'multipart/form-data'}}) }}
	<div class="col-lg-12">
		<section class="panel">
			<header class="panel-heading">
				<div class="panel-actions">
					<a href="#" class="fa fa-caret-down"></a>
					<a href="#" class="fa fa-times"></a>
				</div>


				<h2 class="panel-title">
					{#% if isEdit == true %}
						Edition
					{% else %}
						Nouvelle Annonce
					{% endif %#}
				</h2>
			</header>
			<div class="panel-body">
				<div class="form-group">
					<label class="col-md-3 control-label" for="inputPlaceholder">Nom</label>
					<div class="col-md-6">
						{{form_widget(categorieForm.name,{'attr':{
                                                     'class':"form-control",
                                                     'placeholder':"name"
                                                 }

                                                 })}}
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-3 control-label" for="inputPassword">Contenu</label>
					<div class="col-md-6">
						{{form_widget(categorieForm.content,{'attr':{
                                                     'class':"form-control",
                                                     'placeholder':"content"
                                                 }

                                                 })}}
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label" for="inputPassword">Statut</label>
					<div class="col-md-6">
						{{form_widget(categorieForm.status,{'attr':{
                                                     'class':"form-control",
                                                     'placeholder':"status"
                                                 }

                                                 })}}
					</div>
				</div>

         		<div class="form-group">

					<label class="col-md-3 control-label" for="inputDefault">Image de la categorie</label>
					<div class="col-md-6">
						<div class="wrapper-image dropzone-zone-file" id="images">
							{% if isEdit == true and not (image is empty) %}
								<div class="col-md-6">
									<img src="/uploads/bo/category/{{image}}" alt="coverAnnonce" width="150">
								</div>
							{% endif %}
							<input id="dropzone-file" type="file" name="categorieImage" accept="image/*" class="dropzone-file {#d-none#}" style="display: block"/>
						</div>
					</div>
				</div>

			
					

					{#{% if isEdit == true and userAvatar != '' %}
								<div  class="form-group" id='user-{{ user.id }}'> 
									<img src="/uploads/bo/user/{{userAvatar}}" alt="coverAnnonce" width="150">
            						<a href="javascript:;"class="btn btn-danger btn-delete-avatar" ajax-url-delete-avatar="{{ path('user_avatar_ajax_delete') }}" data-id="{{ user.id }}">Supprimer</a>
								</div>
					{% endif %}#}
				


				<div class="form-group">
					<label class="col-md-3 control-label" for="inputPassword"></label>
					<div class="col-md-6">
						<button type="submit">Enregistrer</button>
					</div>
				</div>

			</div>
		</section>


	</div>
	{{ form_rest(categorieForm) }}
	{{ form_end(categorieForm) }}

{% endblock %}

{% block javascript %}
    {{ parent() }}
	 <script src="{{asset('bo/js/dropzone-file.js')}}"></script>
    <script>
        var action = "edit";
    </script>
    <script src="{{asset('bo/assets/vendor/select2/select2.js')}}"></script>
    <script src="{{asset('bo/assets/vendor/jquery-datatables/media/js/jquery.dataTables.js')}}"></script>
    <script src="{{asset('bo/assets/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js')}}"></script>
    <script src="{{asset('bo/assets/vendor/jquery-datatables-bs3/assets/js/datatables.js')}}"></script>
    <script src="{{asset('bo/js/category.js')}}"></script>
{% endblock %}
