<div id="header">
			<div>
				<a href="{{ path('main_front') }}" class="logo"><img src="fo/images/logo.png" alt=""></a>
				<ul id="navigation">
					<li class="">
						<a href="{{ path('main_front') }}">Accueil</a>
					</li>
					<li>
						<a href="{{ path('front_annonce_list') }}">Annonces</a>
					</li class="active">
					<li>
						<a href="{{ path('front_list_provider') }}">Partenaires</a>
					</li class="active">
					
					<li>
						<a href="{{ path('front_annonce_contact') }}">Contact</a>
					</li>
				</ul>
			</div>
		</div>