{% extends 'bo/base-bo.html.twig' %}


{% block bodyClass %}fixed
{% endblock %}
{% block title %}
	{{ parent() }}
	- Utilisateur : Création
{% endblock %}
{% set page = 'user' %}
{% set menuUserCreat = true %}

{% block stylesheet %}
    {{ parent() }}
    {#<link rel="stylesheet" href="{{asset('bo/assets/vendor/dropzone/css/basic.css')}}" />
    <link rel="stylesheet" href="{{asset('bo/css/dropzone-file.css')}}" />#}
{% endblock %}


{% block body %}
<header class="page-header">
        <h2>Utilisateur</h2>

        <div class="right-wrapper pull-right">
                <ol class="breadcrumbs">
                        <li>
                                <a href="{{ path('home_bo')}}">
                                        <i class="fa fa-home"></i>
                                </a>
                        </li>
                       
                        <li><span> {% if isEdit == true %} Edition {% else %} Création {% endif %}</span></li>
                </ol>

                <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>
	{{ form_start(userForm,{'method': 'POST', 'type':'submit', 'attr' : {'class' : 'form-horizontal form-bordered', 'id' : 'form-user' , 'enctype':'multipart/form-data'}}) }}
	<div class="col-lg-12">
		<section class="panel">
			<header class="panel-heading">
				<div class="panel-actions">
					<a href="#" class="fa fa-caret-down"></a>
					<a href="#" class="fa fa-times"></a>
				</div>


				<h2 class="panel-title">
					{#% if isEdit == true %}
						Edition
					{% else %}
						Nouvelle Annonce
					{% endif %#}
				</h2>
			</header>
			<div class="panel-body">
				<div class="form-group">
					<label class="col-md-3 control-label" for="inputPlaceholder">Username</label>
					<div class="col-md-6">
						{{form_widget(userForm.username,{'attr':{
                                                     'class':"form-control",
                                                     'placeholder':"Username"
                                                 }

                                                 })}}
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-3 control-label" for="inputPassword">Lastname</label>
					<div class="col-md-6">
						{{form_widget(userForm.lastname,{'attr':{
                                                     'class':"form-control",
                                                     'placeholder':"Lastname"
                                                 }

                                                 })}}
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label" for="inputPassword">Firstname</label>
					<div class="col-md-6">
						{{form_widget(userForm.firstname,{'attr':{
                                                     'class':"form-control",
                                                     'placeholder':"firstname"
                                                 }

                                                 })}}
					</div>
				</div>

         		<div class="form-group">
					<label class="col-md-3 control-label" for="inputPassword">Email</label>
					<div class="col-md-6">
						{{form_widget(userForm.email,{'attr':{
                                                     'class':"form-control",
                                                     'placeholder':"email"
                                                 }

                                                 })}}
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-3 control-label" for="inputPassword">gender</label>
					<div class="col-md-6">
						{{form_widget(userForm.gender,{'attr':{
                                                     'class':"form-control",
                                                     'placeholder':"gender"
                                                 }

                                                 })}}
					</div>
				</div>
				{#% if isEdit == true%}
				<div class="form-group" style="display:none">
					<label class="col-md-3 control-label" for="inputPassword">Status</label>
					<div class="col-md-6">
						{{form_widget(userForm.status,{'attr':{
                                                     'class':"form-control",
                                                     'placeholder':"status"
                                                 }

                                                 })}}
					</div>
				</div>

					<div class="form-group" style="display:none">
					    <label class="col-md-3 control-label" for="inputSuccess">Role</label>
						    <div class="col-md-6">
										
								{{form_widget(userForm.roles,{'attr':{
                                                     'placeholder':"roles"
                                                 }

                                                 })}}							
							</div>
				    </div>
				{% endif %#}
				<div class="form-group">
					<label class="col-md-3 control-label" for="inputPassword">Status</label>
					<div class="col-md-6">
						{{form_widget(userForm.status,{'attr':{
                                                     'class':"form-control",
                                                     'placeholder':"status"
                                                 }

                                                 })}}
					</div>
				</div>

					<div class="form-group">
					<label class="col-md-3 control-label" for="inputSuccess">Role</label>
						<div class="col-md-6">
													<!--<select class="form-control mb-md">
														<option>Option 1</option>
														<option>Option 2</option>
														<option>Option 3</option>
													</select> -->
						{{form_widget(userForm.roles,{'attr':{
                                                     'placeholder':"roles"
                                                 }

                                                 })}}							
							</div>
				</div>
				{# % endif % #}

					<div class="form-group" style="display:none">
					    <label class="col-md-3 control-label" for="inputSuccess">Role</label>
						    <div class="col-md-6">
										
								{{form_widget(userForm.roles,{'attr':{
                                                     'placeholder':"roles"
                                                 }

                                                 })}}							
							</div>
				    </div>
					{# POUR L AVATAR #}
					 {% if isEdit == true%}

     {% if userAvatar != '' %}
    <div class="form-group"  id='user-{{ user.id }}' >
        <label class="col-md-3 control-label" for="inputDefault"></label>
        <div class="col-md-6">
            <img class="profile-user-img img-fluid img-circle avatar" width="200" height="200" src="{{asset("uploads/bo/user/"~userAvatar)}}"
                alt="avatar"  title=""> 
            <a href="javascript:;"class="btn btn-danger btn-delete-avatar" ajax-url-delete-avatar="{{ path('user_avatar_ajax_delete') }}" data-id="{{ user.id }}">Supprimer</a>

        </div>
    </div>
   {% endif %}
   
   {% endif %}

 	<div class="form-group">

					<label class="col-md-3 control-label" for="inputDefault">Avatar</label>
					<div class="col-md-6">
						<div class="wrapper-image dropzone-zone-file" id="images">
							{#% if isEdit == true and coverAnnonceImage != '' %}
								<div class="col-md-6">
									<img src="/uploads/cover/{{coverAnnonceImage}}" alt="coverAnnonce" width="150">
								</div>
							{% endif %#}
							<input id="dropzone-file" type="file" name="userAvatar" accept="image/*" class="dropzone-file {#d-none#}" style="display: block"/>
						</div>
					</div>
				</div>


				<div class="form-group">
					<label class="col-md-3 control-label" for="inputPassword"></label>
					<div class="col-md-6">
						<button type="submit">Enregistrer</button>
					</div>
				</div>

			</div>
		</section>


	</div>
	{{ form_rest(userForm) }}
	{{ form_end(userForm) }}

{% endblock %}


{% block javascript %}
{{ parent() }}

<script>
    var inputRef = document.getElementById("dropzone-file");

</script>
<script src="{{asset('bo/js/dropzone-file.js')}}"></script>
<script src="{{asset('bo/js/user.js')}}"></script>
{% endblock %}
